<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>WANT Sample App</title>
</head>
<body ng-app="app" ng-cloak>
<toolbar class="toolbar"></toolbar>
<md-content class="content">
    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">
        <md-list flex>
            <md-list-item ng-click="null">
                <div class="md-list-item-text" layout="column">
                    מידע כללי
                </div>
            </md-list-item>
            <md-list-item ng-click="null">
                ניטור שרתים
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div ng-view></div>
</md-content>
</body>
</html>