<div layout="column" layout-fill style="direction:ltr;">
    <div style="direction:rtl; display: flex; align-items: baseline; margin-right: 20px; margin-top: 15px;">
        <md-button class="md-fab" aria-label="cake" style="margin-left: 15px;" ng-click="ctrl.showAdvanced($event)">
            <md-icon ng-bind="'add'"></md-icon>
        </md-button>
        <span style="font-size: 20px;" flex md-truncate>הוספת שרת חדש</span>
    </div>
    <div layout-padding layout="row" layout-align="center">
        <div flex-gt-md="60" flex-md="80" flex-xs="100">
           <div layout-gt-xs="row" layout-xs="column" layout-align="stretch center">
                <div layout="row" layout-align="start center">
                    <md-input-container md-no-float md-is-error="false" class="md-block">
                        <input ng-model="hostname"
                               class="md-input"
                               ng-change="gridActions.filter()"
                               id="hostname"
                               placeholder="Search by Hostname"
                               filter-by="hostname"
                               filter-type="text"
                               aria-invalid="false">
                    </md-input-container>
                </div>
               <div layout="row" layout-align="start center">
                   <md-input-container md-no-float md-is-error="false" class="md-block">
                       <input ng-model="address"
                              class="md-input"
                              ng-change="gridActions.filter()"
                              id="address"
                              placeholder="Search by IP"
                              filter-by="address"
                              filter-type="text"
                              aria-invalid="false">
                   </md-input-container>
               </div>
            </div>
            <div grid-data id='test' grid-options="ctrl.gridOptions" grid-actions="gridActions">
                <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                    <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                        <span>{{filtered.length}} items total</span>
                    </div>
                    <div flex-gt-sm="75" flex-xs="100">
                        <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination mdl-shadow--2dp"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                            <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                    <md-option ng-value="10">10</md-option>
                                    <md-option ng-value="25">25</md-option>
                                    <md-option ng-value="50">50</md-option>
                                    <md-option ng-value="75">75</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th sortable="hostname" class="sortable mdl-data-table__cell--non-numeric">
                                <span>Hostname</span>
                                <span class="arrow"></span>
                            </th>
                            <th sortable="hostname" class="sortable mdl-data-table__cell--non-numeric">
                                <span>IP</span>
                                <span class="arrow"></span>
                            </th>
                            <th class="st-sort-disable th-dropdown">
                                <md-select filter-by="environment"
                                           filter-type="select"
                                           ng-model="selectedEnvironment"
                                           placeholder="Environment"
                                           ng-change="filter()">
                                    <md-option value="">All Environments</md-option>
                                    <md-option ng-repeat="option in selectedEnvironmentOptions track by option.value"
                                               value="{{option.value}}">
                                        {{option.text}}
                                    </md-option>
                                </md-select>
                            </th>
                            <th sortable="username" class="sortable mdl-data-table__cell--non-numeric">
                                <span>Username</span>
                                <span class="arrow"></span>
                            </th>
                            <th sortable="description" class="sortable mdl-data-table__cell--non-numeric">
                                <span>Description</span>
                                <span class="arrow"></span>
                            </th>
                            <th class="st-sort-disable th-dropdown">
                                <md-select filter-by="OS"
                                           filter-type="select"
                                           ng-model="selectedOS"
                                           placeholder="OS"
                                           ng-change="filter()">
                                    <md-option value="">All OS</md-option>
                                    <md-option ng-repeat="option in selectedOSOptions track by option.value"
                                               value="{{option.value}}">
                                        {{option.text}}
                                    </md-option>
                                </md-select>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr grid-item>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span ng-bind="item.hostname"></span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span ng-bind="item.address"></span>
                            </td>
                            <td ng-bind="item.environment"></td>
                            <td ng-bind="item.username"></td>
                            <td ng-bind="item.description"></td>
                            <td ng-bind="item.OS"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination"
                                     ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                        <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                            <md-option ng-value="10">10</md-option>
                            <md-option ng-value="25">25</md-option>
                            <md-option ng-value="50">50</md-option>
                            <md-option ng-value="75">75</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
</div>